.incValue {
  background-color: black;
  padding: 10px 40px 10px 40px;
  border: none;
  color: white;
  cursor: pointer;
}

.decValue {
  background-color: orange;
  padding: 10px 40px 10px 40px;
  border: none;
  cursor: pointer;
}

.description__container {
  text-align: center;
}